<div class = "video_new">

  <div class ="edit_zenntai">
    <%= form_tag("/ivents/#{@ivent.id}/update", {multipart: true}) do %>
    <h5>タイトル</h5>
    <textarea name="content"><%= @ivent.content%></textarea>
    <h5>要約文</h5>
    <textarea name="summry"><%= @ivent.summry%></textarea>
    <h5>文章</h5>
    <textarea name="sentence"><%= @ivent.sentence%></textarea>
    <input type="submit" value="投稿">
    <h5>画像</h5>
    <input name="image" type="file">
    <input type="submit" value="保存">
    <%end%>
  </div>
  <input type="submit" value="投稿">
  </div>
